/* You can override SASS variables here. */

// @import "plugins/dark";

$font-size-base: 14pt;

$container-max-width: 76rem;
$menu-width: 14rem;
$toc-width: 14rem;

@mixin theme-dark {
  --gray-100: #212121;
  --gray-200: #1b1b1b;
  --gray-500: #151515;
  --body-background: #272727;
  --body-font-color: #dadada;
  --color-link: #019bd6;
  --color-visited-link: #8e559e;
  --hint-color-info: #019bd6;
  --hint-color-warning: #facf00;
  --hint-color-danger: #e91d39;
}
